<div class="container" data-aos="fade-up">
    <div class="card  card-categories-list-spcail">
        <div class="categories-title center-align">
            <i class="fas fa-bookmark"></i>&nbsp;&nbsp; 分类导图
        </div>

        <div class="card-content col s12  m12">
            <div id="mind" class="container ">
                <img src="/medias/categories.png" style="zoom: 70%;"/>
            </div>
        </div>
    </div>
</div>